<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Rails Filter With AngularJS', '/#/home', class:"navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'New Item', new_item_path %></li>
      <li><%= link_to 'New Category', new_category_path %></li>
    </ul>
  </div><!--/.container-fluid -->
</nav>
